name: lb_planner
description: "An application to plan your moodle assignments."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.4.3 <4.0.0"

dependencies:
  animations: ^2.0.11
  awesome_extensions: ^2.0.17
  bloc: ^8.1.4
  carousel_slider: ^5.0.0
  catcher_2: ^1.2.6
  collection: any
  color_blindness: ^0.2.0
  context_menus: ^2.0.0+1
  cupertino_icons: ^1.0.6
  data_widget: ^0.0.2
  either_dart: ^1.0.0
  figma_squircle: ^0.5.3
  flutter:
    sdk: flutter
  flutter_animate: ^4.5.0
  flutter_boring_avatars: ^2.0.1
  flutter_localizations:
    sdk: flutter
  flutter_modular: ^6.3.4
  flutter_single_instance: ^0.0.1
  flutter_staggered_animations: ^1.1.1
  flutter_svg: ^2.0.10+1
  flutter_utils:
    git:
      url: https://github.com/mcquenji/flutter_utils.git
  flutter_vector_icons: ^2.0.0
  font_awesome_flutter: ^10.8.0
  freezed_annotation: ^2.4.4
  intl: any
  json_annotation: ^4.9.0
  logging: ^1.2.0
  mcquenji_core:
    git:
      url: https://github.com/mcquenji/mcquenji_core.git
  mcquenji_local_storage:
    git:
      url: https://github.com/mcquenji/mcquenji_local_storage.git
  mcquenji_versioning:
    git:
      url: https://github.com/mcquenji/mcquenji_versioning.git
  path: ^1.9.0
  popover: ^0.3.1
  sentry_flutter: ^8.9.0
  skeletonizer: ^1.4.2
  sprung: ^3.0.1
  url_launcher: ^6.3.1
  vector_graphics: any
  window_manager: ^0.4.3

dev_dependencies:
  architecture_linter: ^0.2.2
  bloc_test: ^9.1.7
  build_runner: ^2.4.11
  flutter_gen_runner: ^5.6.0
  flutter_lints: ^3.0.0
  flutter_test:
    sdk: flutter
  flutterando_analysis: ^0.0.2
  freezed: ^2.5.2
  json_serializable: ^6.8.0
  sentry_dart_plugin: ^2.1.0
  test: ^1.25.2

dependency_overrides:
  flutter_modular:
    git:
      url: https://github.com/necodeIT/modular.git
      path: flutter_modular
  modular_core:
    git:
      url: https://github.com/necodeIT/modular.git
      path: modular_core
  popover:
    git:
      url: https://github.com/necodeIT/popover.git

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/logo.svg
    - assets/auth/

flutter_gen:
  output: lib/gen/assets/
  line_length: 80

  integrations:
    flutter_svg: true
    flare_flutter: false
    rive: false
    lottie: false

sentry:
  upload_debug_symbols: true
  upload_source_maps: true
  upload_sources: true
